.mb
data/*
!data/.gitkeep
!data/diabetes/
data/diabetes/*
!data/diabetes/README.md
!data/diabetes/raw/
!data/diabetes/models/
!data/exercises/
data/exercises/*
!data/exercises/README.md
!data/exercises/raw/
!data/gym_members/
data/gym_members/*
!data/gym_members/README.md
!data/transcriptomics/
data/transcriptomics/*
!data/transcriptomics/README.md
!data/transcriptomics/raw/
!data/medications/
data/medications/*
!data/medications/README.md
!data/medications/raw/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
.env
*.lock
.ruff_cache/
.pytest_cache/
